h1 {
  color: darkblue;
  text-align: center;
}

p {
  color: green;
  font-size: 18px;
}

.container {
  background-color: lightgray;
  padding: 20px;
  border: 1px solid black;
}

body {
    background-color: lightcoral;
    text-align: center;
    font-family: Lato, serif;
}

.container a {
    color: navy;
    text-decoration: none;
}

.container a:hover {
    color: red;
    text-decoration: underline;
    font-weight: bold
}